# Environment variables declared in this file are automatically made available to Prisma and Next.js.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# PostgreSQL connection string for Supabase
# Format: postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true
DATABASE_URL="postgresql://postgres:your-supabase-password@db.your-project.supabase.co:5432/postgres"

# WhatsApp Admin Store Number (format internasional tanpa tanda +, misal 6281234567890)
NEXT_PUBLIC_WA_ADMIN="6281234567890"

# Store Information
NEXT_PUBLIC_STORE_NAME="Bokis - Bolu Keju Susu"
NEXT_PUBLIC_STORE_CITY="Soreang, Kabupaten Bandung"
